<h3>Showing job details</h3>
<% if current_user.eql? nil %>
    <%= @job.job_title%>
    at
    <%= @job.company%>
    <p>Status: <%= @job.status%></p>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Index', jobs_path%></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Apply', new_session_path%></button>
<% else %>
    <%= @job.job_title%>
    at
    <%= @job.company%>
    <p>Status: <%= @job.status%></p>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Index', jobs_path%></button>
    <% @user = User.find_by_id(current_user.id) %>
    <% if @user.role.eql? "admin" %>
    <% else %>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'apply', apply_path, method: :post%></button>
    <% end %>
<% end %>