<h3>My Profile</h3>
Username: 
<%= @user.username %><br>
First name: 
<%= @user.first_name %><br>
Last name: 
<%= @user.last_name %><br>

<% @user = User.find_by_id(current_user.id) %>
    Role:
    <%= @user.role %><br>
<% if @user.role.eql? "admin" %>
<% else %>
    Age:
    <%= @user.age %><br>
    Experience status:
    <%= @user.experience_status %><br>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Download CV", @user.attachment_url %></button><br><br>
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></button>
<% end %>

