<!DOCTYPE html>
<html>
  <head>
    <title>Jobfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <% if !current_user %>
  <a class="navbar-brand" href="#">GUEST</a>
  <% else %>
    <% if @user.role.eql? "admin" %>
      <a class="navbar-brand" href="#">ADMIN</a>
    <% else %>
      <a class="navbar-brand" href="#">USER</a>
    <% end %>
    <a class="navbar-brand" href="#">| Hello <%= current_user.username %></a>
  <% end %>
  <a style="padding-right:25px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      <% if !current_user %>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Log-in', new_session_path %></a>
            <a style="padding-right:25px, padding-bottom: 5px"></a>
        </li>
        <% else %>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Home', root_path %></a>
            <a style="padding-right:25px"></a>
        </li>
        <% @user = User.find_by_id(current_user.id) %>
        <% if @user.role.eql? "admin" %>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Manage Applicant', users_path %></a>
            <a style="padding-right:25px"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></a>
            <a style="padding-right:25px"></a>
        </li>
        <% else %>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></a>
            <a style="padding-right:25px"></a>
        </li>
        <% end %>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'My Profile', user_path(current_user.id) %></a>
            <a style="padding-right:25px"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><%= link_to 'Log-Out', session_path(current_user.id), method: "DELETE" %></a>
            <a style="padding-right:25px"></a>
        </li>
        <% end %>
      </ul>
    </div>
</nav>

  <%= yield %>
  </body>
</html>
